﻿@model Core.Domain.SearchSpec

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SearchSpec</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SearchUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SearchUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameSelector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameSelector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceSelector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceSelector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageSelector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageSelector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SearchResultType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SearchResultType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
