﻿@model IEnumerable<Core.Domain.SearchSpec>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SearchUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameSelector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceSelector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageSelector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockSelector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SearchResultType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SearchUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameSelector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceSelector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageSelector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageSelector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SearchResultType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
