﻿@model Web.Models.SearchSpec.SearchSpecTestViewModel
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s => s.SearchSpecId)
    <div class="form-horizontal">
        <h4>SearchSpec</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SearchQuery, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SearchQuery, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SearchQuery, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@if (Model.SearchItems!=null)
{
    <table class="table table-responsive table-striped">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Stock
            </th>
            <th>
                Image
            </th>
            <th>
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var searchItem in Model.SearchItems)
        {
            <tr>
                <td>
                    @searchItem.Name
                </td>
                <td>
                    @searchItem.Price
                </td>
                <td>
                    @searchItem.Stock
                </td>
                <td>
                    <img alt="" class="img-thumbnail" src="@searchItem.ImageUrl"/>
                </td>
                <td>
                    <a href="@searchItem.ProductLink">Source</a>
                </td>
            </tr>
        }
        </tbody>

    </table>
}
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
