﻿@model Web.Models.Search.SearchViewModel
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Find products you need</h2>
@using (Ajax.BeginForm("Search", "Search", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "results" , OnBegin = "onBegin", OnSuccess = "onSucess", OnFailure = "onFailure" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.QueryString, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.QueryString, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QueryString, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SearchUrls, htmlAttributes: new { @class = "control-label col-md-offset-3 col-md-2" })
            <div class="col-md-4">
                @foreach (var item in Model.SearchUrls)
                {
                    
                    
                        var uri = new Uri(item.Text).Host;


                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedUrls"
                                       value="@item.Text"/>

                                @uri
                            </label>
                        </div>
                    
                }
                @Html.ValidationMessageFor(model => model.SelectedUrls)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-1">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div id="results">

</div>
<div id="loading" style="display: none">
    <img style="margin: auto; display: block"src="~/Content/loading.gif" />
</div>

<script type="text/javascript">
    function onBegin()
    {
        // Disable the button and hide the other image here
        // or you can hide the whole div like below
        $('#results').hide();
        $('#loading').show();

    }
    function onSucess()
    {
        // Disable the button and hide the other image here
        // or you can hide the whole div like below
        $('#results').show();
        $('#loading').hide();
    }
    function onFailure() {
        // Disable the button and hide the other image here
        // or you can hide the whole div like below
        $('#results').html("<h2 class='text-center'>Sorry! Parsing faild. Data, taken from server, is not valid! Try another query!</h2>");
        $('#results').show();
        $('#loading').hide();
    }
</script>