﻿@model List<Web.Models.SearchResult>
<div class="col-md-12">
    @foreach (var result in Model)
    {
        if (result.SearchItems != null && result.SearchItems.Count > 0)
        {
            <div>
                <h3>@result.Domain</h3>
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th class="col-xs-5">
                                Name
                            </th>
                            <th class="col-xs-2">
                                Price
                            </th>
                            <th class="col-xs-3">
                                Stock
                            </th>
                            <th class="col-xs-1">
                                Image
                            </th>
                            <th class="col-xs-1">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var searchItem in result.SearchItems)
                        {
                            <tr>
                                <td >
                                    @searchItem.Name
                                </td>
                                <td >
                                    @searchItem.Price
                                </td>
                                <td >
                                    @searchItem.Stock
                                </td>
                                <td >
                                    <img alt="No image" class="img-thumbnail" src="@searchItem.ImageUrl" />
                                </td>
                                <td>
                                    <a href="@searchItem.ProductLink">Source</a>
                                </td>
                              
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        }
        else
        {
            <h3>No results from @result.Domain</h3>
        }
    }
</div>